.App {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  border: 2px solid #000;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  padding: 30px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell-clicked {
  background-color: white;
}

.counter {
  margin-top: 20px;
}

.reset-button {
  margin-top: 15px;
}


