.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 504px;
  border: 2px solid black;
  text-align: center;
  margin: auto;
}

.cell {
  width: 70px;
  height: 70px;
  border: 2px solid #ccc;
  background-color: #7d7979;
  display: inline-block;
  margin: 5px;
}
