.App {
  text-align: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 384px;
  height: 384px;
  border: 2px solid black;
  margin: 20px auto;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #7d7979;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

.cell-clicked {
  background-color: white;
}

.counter {
  margin-top: 20px;
}

.reset-button {
  margin-top: 10px;
}


